body {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: rgb(88, 88, 88);
}
.div {
    margin-top: 20px;
    width: 500px;
    height: 580px;
    background-color: rgb(44, 44, 44);
    border-radius: 10px;
    display: flex;
    align-items: center;
    flex-direction: column;
}
.btn {
    background-color: black;
    color:white;
    border-color: white;
    height: 30px;
    width: 190px;
    border-radius: 10px;
}
